################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VendingMachine/v15/Server/sqlite3/db.lock
/VendingMachine.Database/VendingMachine.Database.dbmdl
/VendingMachine.Database/VendingMachine.Database.jfm
